<template>
  <div>
    <v-container>
      
      <v-data-table :headers="headers" :items="jobs" @click:row="clickRow">
    
      </v-data-table>

    </v-container>
  </div>
</template>



<script>
// @ is an alias to /src
import { apiService } from "../common/api.service.js";
import "vue-good-table/dist/vue-good-table.css";
import "@mdi/font/css/materialdesignicons.css";

export default {
  name: "Home",
  
  data() {
    return {
      headers: [
        {
          text: "Date",
          value: "recording_date",
        },
        {
          text: "Moning Temp",
          value: "moningbody_temperature",
        },
        { text: "Night Temp", value: "nightbody_temperature" },
      ],
      jobs: [],
    };
  },
  methods: {
    getJobs() {
      let endpoint = "api/jobs/";
      apiService(endpoint).then((data) => {
        this.jobs.push(...data);
      });
    },
    clickRow: function (item) {
      // const selected = this.items.indexOf(item);
      // alert((selected + 1) + "行目をクリックしました。");
      this.$router.push({
        name: "job",
        params: { id: item.id },
      });
    },
  },
  created() {
    this.getJobs();
    document.title = "health";
  },
};
</script>
<style scoped>
.job-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.job-link:hover {
  color: #41b883;
}

.container {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* .table {
   background-color: #41B883;
 } */
</style>
