<template>
  <div>
    
    <v-container>
     
      <div class="text-center">
        <h1 class="padding2">{{ job.recording_date }}</h1>
        <p class="fontsize_text">朝の体温: {{ job.moningbody_temperature }}℃</p>
        <p class="fontsize_text">朝の体調: {{ job.moningbody_condition }}</p>
        <p class="fontsize_text">夜の体温: {{ job.nightbody_temperature }}℃</p>
        <p class="fontsize_text">夜の体調: {{ job.nightbody_condition }}</p>
        <p class="fontsize_text">気になること: {{ job.etc }}</p> 
        <v-btn color="success" class="mr-2" @click="editjobData">編集</v-btn>
        <v-btn color="error" @click="deletejobData"> 削除 </v-btn>

      </div>
      
      
    </v-container>
  </div>
</template>
<script>
import { apiService } from "../common/api.service.js";
// import Toasted from 'vue-toasted';

export default {
  name: "job",
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      job: {},
    };
  },
  methods: {
    setPageTitle(title) {
      document.title = title;
    },

    getJobData() {
      let endpoints = "/api/jobs/" + this.id + "/";
      apiService(endpoints).then((data) => {
        this.job = data; //.replace(/\\n/g, "\\n").replace(/\\'/g, "\\'").replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f");
        // console.log(this.job);
        // console.log(this.job[this.id]);
        this.setPageTitle(data.recording_date.toString());
      });
    },
    deletejobData() {
      let endpoint = "/api/jobs/" + this.id + "/";
      apiService(endpoint, "DELETE").then(() => {
        this.$router.push({
          name: "Home",
        });
      });
    },
    editjobData() {
      this.$router.push({
        name: "editor",
        params: { id: this.id },
      });
    },
  },
  created() {
    this.getJobData();
  },
};
</script>
<style scoped>
  .fontsize_text {
    font-size: 1.5rem;
  }
  .padding2{
    padding: 1rem;
  }
</style>