{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board</title>
</head>
<body>

    <div id="app"></div>
    {% render_bundle 'app' %}
</body>
</html>